# secrets
{%- for item in (k8s_service.secrets_list | default([], true) | unique)
    if item is mapping and (item.source | default('', true) | string | length) > 0 %}


---
apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  labels:
    app: {{ k8s_service.name }}
type: Opaque
{%- if (item.content_is_base64 | bool) %}

data:
  {{ item.alias }}: {{ item.content }}
{%- else %}

stringData:
  {{ item.alias }}: |
    {{ item.content | trim | indent(4, false) }}
{%- endif %}
{%- endfor %}
