# Managed by Ansible (docker_app). Секреты: Vault {{ docker_app_vault_mount_point }}/{{ docker_app_vault_path }}
EXTERNAL_CSP_LICENSE={{ app_vault.EXTERNAL_CSP_LICENSE | default('') | replace('$', '$$') }}
