os_auth_url  = "https://cloud.api.selcloud.ru/identity/v3"
os_region    = "ru-3"
sel_account  = "REPLACE_ACCOUNT"
project_name = "project-a"
external_network_name = "external"
gitlab_external_ip    = "203.0.113.30"
