.include_replicas:
  variables:
    WERF_SET_RESERVE_CLUSTER_REPLICA1: ${RESERVE_CLUSTER_REPLICA1}
    WERF_SET_RESERVE_CLUSTER_REPLICA2: ${RESERVE_CLUSTER_REPLICA2}
    WERF_SET_RESERVE_CLUSTER_REPLICA3: ${RESERVE_CLUSTER_REPLICA3}
    WERF_SET_RESERVE_CLUSTER_REPLICA4: ${RESERVE_CLUSTER_REPLICA4}
    WERF_SET_RESERVE_CLUSTER_REPLICA5: ${RESERVE_CLUSTER_REPLICA5}
    WERF_SET_RESERVE_CLUSTER_REPLICA6: ${RESERVE_CLUSTER_REPLICA6}
    WERF_SET_RESERVE_CLUSTER_REPLICA7: ${RESERVE_CLUSTER_REPLICA7}
    WERF_SET_RESERVE_CLUSTER_REPLICA8: ${RESERVE_CLUSTER_REPLICA8}
    WERF_SET_RESERVE_CLUSTER_REPLICA9: ${RESERVE_CLUSTER_REPLICA9}
    WERF_SET_RESERVE_CLUSTER_REPLICA10: ${RESERVE_CLUSTER_REPLICA10}

.include_tenant_a_replicas:
  variables:
    WERF_SET_RESERVE_TENANT_A_REPLICA1: ${RESERVE_TENANT_A_REPLICA1}
    WERF_SET_RESERVE_TENANT_A_REPLICA2: ${RESERVE_TENANT_A_REPLICA2}
    WERF_SET_RESERVE_TENANT_A_REPLICA3: ${RESERVE_TENANT_A_REPLICA3}
    WERF_SET_RESERVE_TENANT_A_REPLICA4: ${RESERVE_TENANT_A_REPLICA4}
    WERF_SET_RESERVE_TENANT_A_REPLICA5: ${RESERVE_TENANT_A_REPLICA5}
    WERF_SET_RESERVE_TENANT_A_REPLICA6: ${RESERVE_TENANT_A_REPLICA6}
    WERF_SET_RESERVE_TENANT_A_REPLICA7: ${RESERVE_TENANT_A_REPLICA7}
    WERF_SET_RESERVE_TENANT_A_REPLICA8: ${RESERVE_TENANT_A_REPLICA8}
    WERF_SET_RESERVE_TENANT_A_REPLICA9: ${RESERVE_TENANT_A_REPLICA9}
    WERF_SET_RESERVE_TENANT_A_REPLICA10: ${RESERVE_TENANT_A_REPLICA10}

.include_tenant_b_replicas:
  variables:
    WERF_SET_RESERVE_TENANT_B_REPLICA1: ${RESERVE_TENANT_B_REPLICA1}
    WERF_SET_RESERVE_TENANT_B_REPLICA2: ${RESERVE_TENANT_B_REPLICA2}
    WERF_SET_RESERVE_TENANT_B_REPLICA3: ${RESERVE_TENANT_B_REPLICA3}
    WERF_SET_RESERVE_TENANT_B_REPLICA4: ${RESERVE_TENANT_B_REPLICA4}
    WERF_SET_RESERVE_TENANT_B_REPLICA5: ${RESERVE_TENANT_B_REPLICA5}
    WERF_SET_RESERVE_TENANT_B_REPLICA6: ${RESERVE_TENANT_B_REPLICA6}
    WERF_SET_RESERVE_TENANT_B_REPLICA7: ${RESERVE_TENANT_B_REPLICA7}
    WERF_SET_RESERVE_TENANT_B_REPLICA8: ${RESERVE_TENANT_B_REPLICA8}
    WERF_SET_RESERVE_TENANT_B_REPLICA9: ${RESERVE_TENANT_B_REPLICA9}
    WERF_SET_RESERVE_TENANT_B_REPLICA10: ${RESERVE_TENANT_B_REPLICA10}
