<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="false"
      throwConfigExceptions="true"
	  ThrowExceptions="true">

	<variable name="activityId" value="${aspnet-traceidentifier:ignoreActivityId=true:whenEmpty=-}" />
	<variable name="corrId" value="${mdlc:item=CorrelationId:whenEmpty=${aspnet-request-headers:HeaderNames=X-Correlation-ID:ValuesOnly=true:whenEmpty=-}}" />

	<variable name="hostLayout"
	          value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fffzzz}] ${assembly-version:type=assembly} # ${assembly-version:type=file} # ${assembly-version:type=Informational} ${message}${exception:format=ToString}"/>
	<variable name="stdDiagnosticsLayout"
	          value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fffzzz}] ${uppercase:${level}} ${var:activityId} &quot;${var:corrId}&quot; ${module} &quot;${event-properties:EventId:whenEmpty=-}&quot; ${message} &quot;${aspnet-request-useragent}&quot; ${aspnet-request-ip}${exception:format=ToString}"/>
	<variable name="stdoutLayout"
	          value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fffzzz}] ${uppercase:${level}} ${var:activityId} &quot;${var:corrId}&quot; ${module} &quot;${event-properties:EventId:whenEmpty=-}&quot; ${message}${exception:format=ToString}"/>

	<variable name="responseLayout"
	          value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fffzzz}] ${uppercase:${level}} ${var:activityId} &quot;${var:corrId}&quot; ${module} &quot;${event-properties:EventId:whenEmpty=-}&quot; ${event-properties:item=StatusCode} ${event-properties:item=Elapsed:format=s\\.FFFFFFF} ${event-properties:item=ContentLength:whenEmpty=0} ${event-properties:item=Method} ${event-properties:item=Url} &quot;${event-properties:item=UserAgent}&quot;${exception:format=ToString}"/>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="Console" name="host" encoding="utf-8" layout="${hostLayout}"/>
		<target xsi:type="Console" name="stdDiagnostics" encoding="utf-8" layout="${stdDiagnosticsLayout}"/>
		<target xsi:type="Console" name="stdout" encoding="utf-8" layout="${stdoutLayout}"/>

		<target xsi:type="Console" name="response" encoding="utf-8" layout="${responseLayout}"/>

		<target xsi:type="Console" name="audit">
			<layout xsi:type="JsonLayout" includeEventProperties="true" includeScopeProperties="false" excludeProperties="EventId">
				<attribute name="EventTime" layout="${longdate:universalTime=true}"/>
				<attribute name="CorrelationId" layout="${var:corrId}" />
			</layout>
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="ResponseLogger" minlevel="Info" writeTo="response" final="true"/>

		<logger name="Host" writeTo="host" final="true"/>

		<!-- Add user-agent in eventId 0 or 1 or 2 Request starting/finished message-->
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" writeTo="stdDiagnostics">
			<filters defaultAction='Ignore'>
				<when condition="'${event-properties:EventId}' &lt;= 2" action="LogFinal" />
			</filters>
		</logger>

		<logger name="Audit" writeTo="audit" final="true"/>

		<logger name="*" writeTo="stdout"/>
	</rules>
</nlog>