[all:vars]
ansible_user=root
ansible_ssh_private_key_file=/root/.ssh/estate-preprod-ecs-key.pem
ansible_ssh_common_args='-o IdentitiesOnly=yes'

# Vault Cluster Groups (preprod: одна нода vault-1; vault-3 отсутствует)
[vault_cluster]
estate-preprod-vault-1 ansible_host=10.10.18.59

# Preprod: одна LB-нода (lb-2 отсутствует)
[vault_lb]
estate-preprod-lb-1 ansible_host=10.10.18.142

[edge_lb]
estate-preprod-lb-1 ansible_host=10.10.18.142

[hsm_adapter]
estate-preprod-hsm-adapter ansible_host=10.10.18.206

[cb_scanner]
estate-preprod-cb-scanner ansible_host=10.10.18.115

[gitlab]
estate-preprod-gitlab ansible_host=10.10.18.189

# Combined group for server preparation (без нод CCE)
[prepare:children]
vault_cluster
vault_lb
edge_lb
hsm_adapter
cb_scanner
gitlab
