vless://{{ client.id }}@{{ xui_ssl_ipv4_effective }}:{{ xui_inbound_port | int }}?type=tcp&encryption=none&security=reality&pbk={{ xui_reality_public_key }}&fp={{ xui_inbound_reality_fingerprint }}&sni={{ xui_inbound_reality_sni }}&sid={{ xui_reality_short_ids[0] }}&spx={{ xui_inbound_reality_spider_x | urlencode }}{% if xui_inbound_mldsa65_enabled | bool and (xui_reality_mldsa65_verify | default('') | length > 0) %}&pqv={{ xui_reality_mldsa65_verify }}{% endif %}#{{ xui_inbound_remark }}-{{ client.email }}
