# Managed by Ansible (docker_app). Секреты: Vault {{ docker_app_vault_mount_point }}/{{ docker_app_vault_path }}
TELEGRAM_BOT_TOKEN={{ app_vault.TELEGRAM_BOT_TOKEN | default('') }}
IAM_PASSWORD={{ app_vault.IAM_PASSWORD | default('') }}
API_KEYS={{ app_vault.API_KEYS | default('') }}
