# Databases (documentation IPs only)
db-prod-1                       ansible_host=10.10.10.11
db-prod-2                       ansible_host=10.10.10.12

[db-prod]
db-prod-1
db-prod-2

[postgresql:children]
db-prod
