Kind: User
Items:
- ExternalId: testyarpID2
  FirstName: testyarp2
  LastName: testyarp2
  Email: testuser@test.ru
  Description:
  DisplayName:
  $Password: testyarp
  MobilePhoneNumber: 9992001122
  Login: testyarp
  Enabled: True
  CreatedDate: 08/28/2024 15:56:26
  ExpirationDate:
