---
# Overlay for werf/helm. Copy to secret-values.yaml locally. Do not commit the live file.
ssh_key: CHANGE_ME
backup_dms:
  key:
    _default: CHANGE_ME
project_path:
  _default: /app/vars
dms_key_path:
  _default: /app/dms.key
buckets:
  staging:
    backup_bucket_etcd_staging_backup:
      password: CHANGE_ME
      access_key: CHANGE_ME
      secret_key: CHANGE_ME
    backup_bucket_mongodb_staging_backup:
      password: CHANGE_ME
      access_key: CHANGE_ME
      secret_key: CHANGE_ME
    backup_bucket_postgresql_staging_backup:
      password: CHANGE_ME
      access_key: CHANGE_ME
      secret_key: CHANGE_ME
    backup_bucket_wal_staging_backup:
      password: CHANGE_ME
      access_key: CHANGE_ME
      secret_key: CHANGE_ME
    backup_bucket_gitlab_backup:
      password: CHANGE_ME
      access_key: CHANGE_ME
      secret_key: CHANGE_ME
  production:
    backup_bucket_etcd_production_backup:
      password: CHANGE_ME
      access_key: CHANGE_ME
      secret_key: CHANGE_ME
    backup_bucket_mongodb_production_backup:
      password: CHANGE_ME
      access_key: CHANGE_ME
      secret_key: CHANGE_ME
    backup_bucket_postgresql_production_backup:
      password: CHANGE_ME
      access_key: CHANGE_ME
      secret_key: CHANGE_ME
    backup_bucket_wal_production_backup:
      password: CHANGE_ME
      access_key: CHANGE_ME
      secret_key: CHANGE_ME
psql:
  password:
    _default: CHANGE_ME
    production: CHANGE_ME
