### Service discovery
DELIVERY_SERVICE_URL="http://nginxoms:80"
RESTAURANT_SERVICE_URL="http://nginxrest:8080"

### orders_delivery root access
DB_ROOT_USER=postgres
DB_ROOT_PASS=CHANGE_ME
PGPASSWORD=CHANGE_ME
ORDERS_DELIVERY_MASTER_HOST_FOR_ROOT_USER=postgres_oms
ORDERS_DELIVERY_MASTER_PORT_FOR_ROOT_USER=5432
ORDERS_DELIVERY_DB_NAME=orders_delivery

### orders_delivery database
ORDERS_DELIVERY_APPLICATION_USER=orders_delivery
ORDERS_DELIVERY_APPLICATION_USER_PASS=CHANGE_ME
ORDERS_DELIVERY_MASTER_HOST_FOR_APPLICATION_USER=postgres_oms
ORDERS_DELIVERY_OLTP_SLAVE_HOST_FOR_APPLICATION_USER=postgres_oms
ORDERS_DELIVERY_REPORT_SLAVE_HOST_FOR_APPLICATION_USER=postgres_oms
ORDERS_DELIVERY_PORT_FOR_APPLICATION_USER=5432
ORDERS_DELIVERY_OLTP_SLAVE_PORT_FOR_APPLICATION_USER=5432
ORDERS_DELIVERY_REPORT_SLAVE_PORT_FOR_APPLICATION_USER=5432
ORDERS_DELIVERY_MASTER_DB_NAME_ALIAS_FOR_APPLICATION_USER=orders_delivery
ORDERS_DELIVERY_OLTP_SLAVE_DB_NAME_ALIAS_FOR_APPLICATION_USER=orders_delivery
ORDERS_DELIVERY_REPORT_SLAVE_DB_NAME_ALIAS_FOR_APPLICATION_USER=orders_delivery

### Rabbit
RBT_HOST=rabbitmq
RBT_PORT=5672
RBT_USER=CHANGE_ME
RBT_PASS=CHANGE_ME
RBT_ORDER_EVENTS_QUEUE_NAME=order_events_queue
RBT_ORDER_EVENTS_EXCHANGE_NAME=order_events_exchange
RBT_SITE_BACKEND_HOST=rabbitmq
RBT_SITE_BACKEND_PORT=5672
RBT_SITE_BACKEND_USER=CHANGE_ME
RBT_SITE_BACKEND_PASS=CHANGE_ME
PARTNER_SITE_BACKEND_HOST=rabbitmq
PARTNER_SITE_BACKEND_PORT=5672
PARTNER_SITE_BACKEND_USER=CHANGE_ME
PARTNER_SITE_BACKEND_PASS=CHANGE_ME
RABBIT_SHOP_ORDERS_EXCHANGE_NAME=shop_orders_exchange
RABBIT_SHOP_ORDERS_QUEUE_NAME=shop_orders
RABBIT_PARTNER_ORDERS_EXCHANGE_NAME=partner_sms_exchange
RABBIT_PARTNER_ORDERS_QUEUE_NAME=partner_orders

### History root access
HISTORY_ROOT_USER=postgres
HISTORY_ROOT_PASS=CHANGE_ME
HISTORY_MASTER_HOST_FOR_ROOT_USER=postgres_oms
HISTORY_MASTER_PORT_FOR_ROOT_USER=5432

### History Database
HISTORY_APPLICATION_USER=history
HISTORY_APPLICATION_USER_PASS=CHANGE_ME
HISTORY_HOST_FOR_APPLICATION_USER=postgres_oms
HISTORY_PORT_FOR_APPLICATION_USER=5432
HISTORY_DB_NAME=history

### Report root access
REPORT_ROOT_USER=postgres
REPORT_ROOT_PASS=CHANGE_ME
REPORT_MASTER_HOST_FOR_ROOT_USER=postgres_oms
REPORT_MASTER_PORT_FOR_ROOT_USER=5432

### Report Database
REPORT_APPLICATION_USER=report
REPORT_APPLICATION_USER_PASS=CHANGE_ME
REPORT_HOST_FOR_APPLICATION_USER=postgres_oms
REPORT_PORT_FOR_APPLICATION_USER=5432
REPORT_DB_NAME=report

### External POS database
POS_DB_USER=user
POS_DB_PASS=CHANGE_ME
POS_DB_HOST=pos-db.example.com
POS_DB_PORT=5432

### Ecommerce gateway
ECOM_LOGIN=CHANGE_ME
ECOM_PASSWORD=CHANGE_ME
ECOM_SECRET=CHANGE_ME
ECOM_URL="https://ecommerce.example.com"

### Telegram
TELEGRAM_PROXY="socks5://CHANGE_ME:CHANGE_ME@10.10.0.10:1080"
TELEGRAM_BOT_TOKEN=CHANGE_ME
TELEGRAM_CHAT_WITH_ALL_ORDER_REGISTRATION_REQUESTS=-1000000000001
TELEGRAM_CHAT_WITH_FAILED_ORDER_REGISTRATIONS=-1000000000001
TELEGRAM_TECH_CHAT_BOT_TOKEN=CHANGE_ME
TELEGRAM_TECH_CHAT_ID=-1000000000001
TELEGRAM_ALERTS_THREAD_ID=CHANGE_ME

ALLOW_REGISTER_ORDER_WITH_ALL_ITEMS=0
LOAD_TESTING_OMS_URL="http://10.10.0.16:80"
LOAD_TESTING_CONTACT_CENTER_URL="http://10.10.0.16:83"
LOAD_TESTING_RESTAURANT_URL="http://10.10.0.16:82"

CC_MAIL=ops@example.com
SITE_URL="http://example.com"

LINE24_LOGIN=CHANGE_ME
LINE24_PASSWORD=CHANGE_ME

AMPLITUDE_API_KEY=CHANGE_ME
AMPLITUDE_API_URL=https://api.amplitude.com/2/httpapi

BASKET_SDK_URL=https://basket.apps.example.com
CRM_SDK_URL=https://crm.apps.example.com
CRM_DISABLED=true

BACKEND_SDK_URL=https://backend.apps.example.com
BACKEND_SDK_TOKEN=CHANGE_ME

BANK_TIPS_API_KEY=CHANGE_ME
YANDEX_PAY_JWKS_URL=https://sandbox.pay.yandex.ru/api/jwks

SENTRY_IS_ENABLED=false
SENTRY_ENVIRONMENT=dev
SENTRY_KEY=CHANGE_ME
SENTRY_DOMAIN=sentry.example.com
SENTRY_PROJECT_ID=0

MS_GEOCODER_URL=https://geocoder.example.com/api/v1
