DB_HOST=shop-app-mysql
DB_PORT=3306
DB_DATABASE=shop_app
DB_TEST_DATABASE=shop_app_testing
DB_USERNAME=shop_app
DB_PASSWORD=CHANGE_ME
APP_URL=http://localhost:1001/
APP_DEBUG=true
APP_KEY=CHANGE_ME
APP_ENV=local
QUEUE_CONNECTION=database
SESSION_DRIVER=memcached
CACHE_DRIVER=memcached
MEMCACHE_HOST=shop-app-memcached
MEMCACHE_HOST1=shop-app-memcached1
MEMCACHE_HOST2=shop-app-memcached2
MEMCACHED_PERSISTENT_ID=shop-app
SHOP_APP_URL_PATTERN=https://TENANT.shop-app.example.com
BILLING_API_DEV_AUTH_KEY=CHANGE_ME
BILLING_API_URL=https://billing.example.com/
SENTRY_DSN=https://CHANGE_ME@sentry.example.com/1
AWS_BUCKET=shop-app-uploads
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME
ACCOUNT_URL=https://accounts.example.com
LINK_URL=https://link.example.com/
LINK_AUTH_KEY=CHANGE_ME
YANDEX_APP_ID=CHANGE_ME
YANDEX_APP_SECRET=CHANGE_ME
PHP_IDE_CONFIG=serverName=DockerShopApp
OPEN_SSL_ACCESS_KEY=CHANGE_ME
PROXY_KEY=CHANGE_ME
STRIPE_KEY=CHANGE_ME
STRIPE_SECRET=CHANGE_ME
STRIPE_WEBHOOK_SECRET=CHANGE_ME
CASHIER_LOGGER=stack
CASHIER_CURRENCY=USD

MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=2525
MAIL_USERNAME=CHANGE_ME
MAIL_PASSWORD=CHANGE_ME
MAIL_ENCRYPTION=tls
