APP_URL=http://localhost:8008/
APP_DEBUG=true
APP_KEY=CHANGE_ME
APP_ENV=local

DB_HOST=shop-api-mysql
DB_CONNECTION=mysql
DB_PORT=3306
DB_DATABASE=shop_api
DB_USERNAME=shop_api
DB_PASSWORD=CHANGE_ME

QUEUE_CONNECTION=database
SESSION_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_DRIVER=redis
REDIS_HOST=shop-api-redis
REDIS_PASSWORD=CHANGE_ME
REDIS_PORT=6379
REDIS_CACHE_DB=3

URL_API_SHOP_SERVER=https://[TENANT].shop-app.example.com/rest/api/
PUSH_NOTIFICATION_API_TOKEN=CHANGE_ME
FCM_API_KEY=CHANGE_ME
APN_CERTIFICATE_FILE=
APN_CERTIFICATE_PASSWORD=
SENTRY_DSN=https://CHANGE_ME@sentry.example.com/1
BILLING_API_URL=https://billing.example.com
BILLING_API_DEV_API_KEY=CHANGE_ME
APN_KEY_ID=CHANGE_ME
APN_TEAM_ID=CHANGE_ME
APN_APP_BUNDLE_ID=com.example.shop.plus

MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=2525
MAIL_USERNAME=CHANGE_ME
MAIL_PASSWORD=CHANGE_ME
MAIL_ENCRYPTION=tls
