{
  "Logging": {
    "LogLevel": {
      "Default": "Information"
    }
  },
  "AccessManager": {
    "Data": {
      "EnableMigrations": false,
      "DatabaseType": "PostgreSQL",
      "ConnectionString": {
        "idplat.am_configuration": "Host=hostname; Port=5432; Database=am_config; User ID=user; Password=password"
      }
    }
  }
}