[servers]
estate.mysql-replica-1
estate.mysql-prod-0
estate.mysql-prod-1
estate.mysql-prod-2
estate.mysql-cs-prod-0
estate.mysql-staging-0
estate.mysql-staging-1
estate.mysql-staging-2
estate.mysql-cluster-backup
estate.report-mysql-1
estate.report-mysql-2
estate.report-mysql-replica-1
estate.report-mysql-prod-0
estate.report-mysql-prod-1
estate.report-mysql-prod-2
estate.report-mysql-staging-0
estate.report-mysql-staging-1
estate.report-mysql-staging-2
estate.graph-members
estate.graph-commissions
estate.bastion-staging
estate.backup-staging
estate.ws-proxy
estate.app-hrm

[servers:vars]
ansible_user=admin
ansible_become=true
ansible_become_method=sudo
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
