POSTGRES_PASSWORD=CHANGE_ME
CONTENTCAPTURE_DB_CONNECTION_STRING=Host=127.0.0.1;Port=5432;Database=content_capture;Username=postgres;Password=CHANGE_ME
CONTENTCAPTURE_MACHINEKEY_VALIDATIONKEY=CHANGE_ME
CONTENTCAPTURE_MACHINEKEY_DECRYPTIONKEY=CHANGE_ME
ASPNETCORE_Kestrel__Certificates__Default__Password=CHANGE_ME
ASPNETCORE_Kestrel__Certificates__Default__Path=/https/kestrel.pfx
CONTENTCAPTURE_APPSERVER_BASIC_AUTH_USER=CHANGE_ME
CONTENTCAPTURE_APPSERVER_BASIC_AUTH_PASSWORD=CHANGE_ME
