deepsecrets-check:
    stage: security
    image: example.registry/security/deepsecrets:1.4.1
    variables:
        DEFECTDOJO_SCAN_FILE: "deepsecrets-report.json"
    allow_failure:
        exit_codes:
            - 1 # scan passed but vulnerabilities were found
    script:
        - deepsecrets --target-dir $CI_PROJECT_DIR --outformat dojo-sarif --outfile $DEFECTDOJO_SCAN_FILE
    artifacts:
        expire_in: 2 days
        paths:
        - "$DEFECTDOJO_SCAN_FILE"
