[defaults]
inventory = inventory/hosts.ini
timeout = 20
strategy_plugins = plugins/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
host_key_checking = False
retry_files_enabled = False
module_name = shell
pipelining = True
control_path = /tmp/%%r@%%h:%%p
ssh_args = -o ControlPersist=10m -o ConnectTimeout=120
vault_password_file = ~/.ansible_vault_pass.txt
