include:
  - local: "notify-scripts.yml.example"

variables:
  WERF_VERSION: "1.2 stable"
  WERF_EXPERIMENTAL_DEPLOY_ENGINE: "1"
  WERF_REQUIRE_BUILT_IMAGES: "1"
  WERF_NAMESPACE: "canary-app-${CI_ENVIRONMENT_SLUG}"

stages:
  - build
  - test
  - tests
  - loaddump
  - review-start
  - review
  - plan
  - deploy
  - dev
  - preprod
  - production
  - cleanup

# Branch pipelines only workflow
# workflow:
#   rules:
#     - if: $CI_COMMIT_TAG
#     - if: $CI_COMMIT_BRANCH

# MRs and branch pipelines workflow
workflow:
  rules:
    # Run merge request pipelines on MR events
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # Run branch pipelines from "Run pipeline" page
    - if: '$CI_PIPELINE_SOURCE == "web"'
    # Do not run a branch pipeline on push when an MR is open
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    # Run branch pipeline on tags
    - if: $CI_COMMIT_TAG
    # Run branch pipeline on all branches
    - if: $CI_COMMIT_BRANCH
    # Run branch pipeline on default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    # Optional: run only on platform contractor branches
    # - if: $CI_COMMIT_BRANCH =~ /^platform.*$/

default:
  tags:
    - docker

.scripts:
  setup_werf:
    - type trdl && source "$(trdl use werf ${WERF_VERSION:?})"
    - werf version
    - type werf && source "$(werf ci-env gitlab --as-file)"

    - section_name="envs_$(date +%s)"
    - echo -e "\e[0Ksection_start:`date +%s`:${section_name}[collapsed=true]\r\e[0KJob environment variables"
    - |
      echo "WERF_RELEASE=${WERF_RELEASE}"
      echo "WERF_ENV=${WERF_ENV}"
      echo "WERF_NAMESPACE=${WERF_NAMESPACE}"
      echo "WERF_KUBE_CONTEXT=${WERF_KUBE_CONTEXT}"
      echo "CI_COMMIT_REF_SLUG=${CI_COMMIT_REF_SLUG}"
      echo "CI_ENVIRONMENT_SLUG=${CI_ENVIRONMENT_SLUG}"
    - printenv | sort
    - echo -e "\e[0Ksection_end:`date +%s`:${section_name}\r\e[0K"
  app_name:
    - export APP_NAME=`cat werf.yaml | grep project | awk '{print $2}'`
    - |
      if [ ! -z "${APP_NAME_SUFFIX}" ]; then
          echo "[INFO] Set APP_NAME=${APP_NAME}-${APP_NAME_SUFFIX}"
          export APP_NAME="${APP_NAME}-${APP_NAME_SUFFIX}"
          echo "[INFO] Set WERF_RELEASE=${APP_NAME}-${WERF_ENV}"
          export WERF_RELEASE="${APP_NAME}-${WERF_ENV:?}"
      fi

.rules:
  if:
    main:          $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    main_schedule: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == "schedule"
    branch:        $CI_COMMIT_BRANCH
    tag:           $CI_COMMIT_TAG
    mr:            $CI_PIPELINE_SOURCE == "merge_request_event"
    schedule:      $CI_PIPELINE_SOURCE == "schedule"
    pipeline:      $CI_PIPELINE_SOURCE == "pipeline"
    platform:         $CI_COMMIT_REF_SLUG =~ /^platform.*$/
    feature:       $CI_COMMIT_REF_SLUG =~ /^feature.*$/
  schedule:
    - if: $CI_PIPELINE_SOURCE == "schedule"
  no_schedule:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
  pipeline:
    - if: $CI_PIPELINE_SOURCE == "pipeline"
  no_pipeline:
    - if: $CI_PIPELINE_SOURCE == "pipeline"
      when: never
  manual:
    - when: manual
      allow_failure: true
  platform:
    - if: $CI_COMMIT_REF_SLUG =~ /^platform.*$/
      when: manual
      allow_failure: true
  canary:
    - if: $CI_COMMIT_REF_NAME == "canary-rollout"
      when: manual
      allow_failure: true
  production:
    - if: $CI_COMMIT_TAG
      when: manual
      allow_failure: true
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
      allow_failure: true
  migrations_switch:
    - if: $EXTRA_BUTTONS != "ON"
      when: never

## Base
.base_plan:
  stage: plan
  needs:
    - Build
  variables:
    WERF_EXPERIMENTAL_DEPLOY_ENGINE: "1"
  script:
    - !reference [.scripts, setup_werf]
    - werf plan
  rules:
    - !reference [.rules, no_schedule]
    - !reference [.rules, no_pipeline]
    - when: on_success

.base_converge:
  stage: deploy
  needs:
    - Build
  script:
    - !reference [.scripts, setup_werf]
    - werf helm dependency build .helm/
    - werf helm lint .helm/
      --ignore-secret-key
    - werf render
      --validate
      --ignore-secret-key > render.yaml
    - werf converge
  before_script:
    - !reference [.script_notify_slack_deploy_started]
  after_script:
    - !reference [.scripts, setup_werf]
    - !reference [.script_notify_slack_deploy_finished]
  artifacts:
    when: always
    paths:
      - render.yaml
    expire_in: 1 week
  rules:
    - !reference [.rules, no_schedule]
    - !reference [.rules, no_pipeline]
    - !reference [.rules, manual]

## Build
Build:
  stage: build
  variables:
    WERF_SAVE_BUILD_REPORT: "true"
    WERF_BUILD_REPORT_PATH: "build.env"
  script:
    - !reference [.scripts, setup_werf]
    - werf build
    - cat build.env
  before_script:
    - !reference [.script_notify_slack_build_started]
  after_script:
    - !reference [.script_notify_slack_build_finished]
  artifacts:
    reports:
      dotenv:
        - thread.env
        - build.env
  rules:
    - !reference [.rules, no_schedule]
    - if: "$CI_COMMIT_TAG"
      variables:
        WERF_ADD_CUSTOM_TAG_BRANCH: "%image%-${CI_COMMIT_TAG}"
    - when: always

## Cleanup
Cleanup:
  stage: cleanup
  script:
    - !reference [.scripts, setup_werf]
    - werf cr login -u nobody -p "${WERF_IMAGES_CLEANUP_PASSWORD:?}" "${WERF_REPO:?}"
    - werf cleanup
  resource_group: cleanup
  rules:
    - !reference [.rules, schedule]
