[defaults]
host_key_checking=False
#remote_port = 22
timeout=60
forks = 60
gathering = smart
module_name = shell
display_skipped_hosts = True
ansible_managed = Ansible managed: modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
# mitogen dont work with ansible collections
#strategy_plugins = plugins/mitogen-0.3.7/ansible_mitogen/plugins/strategy
#strategy = mitogen_linear
lookup_plugins = ./plugins/

[ssh_connection]
ssh_args = -o ControlMaster=no
pipelining = True
[privilege_escalation]
become = yes
become_user = root
become_method = sudo
